@model EmployeeM.Models.ThemeEntity

@{
    ViewData["Title"] = "Theme";
}

<h1>Customize your department Theme</h1>
<hr />
<h4>Theme Entity</h4>
<div class="row">
    <div class="col-md-4">Sorry, we have an error</div>

</div>